@model SongQueue;
@{
	ViewData["Title"] = "Backstage";
}
<div id="dashboard">
	<div id="song-queue">
		<ol id="ol-song-queue">
			@foreach (var item in Model.QueuedSongs) {
				<li draggable="true" class="dropzone" id="li-@item.Song.Slug"
					data-song-slug="@item.Song.Slug">
					<a href="#" class="mark-song-as-played-link">PLAYED</a>
					@item.Song.Name
					<ul>
						@foreach (var player in item.Players) {
							<li>
								@player.Key.Name
								<em>
									@String.Join(", ", player.Value.Select(i => i.GetDisplayName()).ToArray())
								</em>
								<a class="yeet-user-link" asp-action="RemoveUser" asp-route-id="@player.Key.Guid">yeet</a>
							</li>
						}
					</ul>
				</li>
			}
		</ol>
	</div>
	<div id="starred-songs">
		<ol class="star-chart">
			@foreach (var item in Model.StarredSongs.OrderByDescending(pair => pair.Value)) {
				<li>
					<span class="starfield">
						@for (var i = 0; i < item.Value; i++) {
							<i class="fa-solid fa-star"></i>
						}
					</span>
					<span class="artist">@item.Key.Artist</span>
					<span class="title">@item.Key.Title</span>
				</li>
			}
		</ol>
	</div>
</div>
<script>
	function showSignupAlert(user, message) {
		var alerts = document.getElementById('alerts');
		if (! alerts) {
			alerts = document.createElement("div");
			alerts.id = "alerts";
			alerts.addEventListener("click", () => location.reload());
			document.body.prepend(alerts);
		}
		const section = document.createElement("section");
		const h1 = document.createElement("h1");
		h1.innerHTML = user;
		section.append(h1);
		const p = document.createElement("p");
		p.innerHTML = message;
		section.append(p);
		alerts.append(section);
		console.log(section);
	}
	function initialiseSignalR() {
		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/songhub")
			.build();

		async function start() {
			try {
				await connection.start();
				console.log("SignalR Connected.");
				connection.invoke("JoinGroup", "backstage");
				console.log("Joined Backstage group");
			} catch (err) {
				console.log(err);
				setTimeout(start, 5000);
			}
		};

		connection.on("signup", showSignupAlert);

		connection.on("blah",
			(user, message) => {
				console.log(user);
				console.log(message);
			});

		connection.onclose(async () => {
			await start();
		});
		start();
	}

	initialiseSignalR();



	document.getElementById('ol-song-queue').addEventListener("click",
		async ({ target }) => {
			if (target.tagName === "A" && target.className === "mark-song-as-played-link") {
				var li = target.closest("li");
				var slug = li.getAttribute("data-song-slug");
				fetch(`/backstage/status/${slug}`,
					{
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify(true)
					}).then(() => {
					li.classList.add("hide");
					window.setTimeout(() => li.remove(), 500);
				});
			}
		});
	let dragged;
	let id;
	let index;

	HTMLCollection.prototype.indexOf = Array.prototype.indexOf;

	document.addEventListener("dragstart", ({ target }) => {
		dragged = target;
		id = target.id;
		index = target.parentNode.children.indexOf(target);
	});

	document.addEventListener("dragenter", ({ target }) => {
		if (target.classList.contains("dropzone")) target.classList.add("drop-target");
		event.preventDefault();
	});

	document.addEventListener("dragleave", ({ target }) => {
		if (target.classList.contains("dropzone")) target.classList.remove("drop-target");
		event.preventDefault();
	});

	document.addEventListener("dragover", _ => event.preventDefault());

	document.addEventListener("drop", async ({ target }) => {
		if (target.classList.contains("dropzone") && target.id !== id) {
			target.classList.remove("drop-target");
			dragged.remove(dragged);
			const indexDrop = target.parentNode.children.indexOf(target);
			let offset = 0;
			if (index > indexDrop) {
				target.before(dragged);
			} else {
				offset = 1;
				target.after(dragged);
			}
			const data = {
				song: dragged.getAttribute("data-song-slug"),
				position: indexDrop + offset
			};

			console.log(data);
			console.log(index, indexDrop);
			const response = await fetch('/backstage/move', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(data)
			});
		}
	});
</script>
