@page "/backstage"
@layout BackstageLayout
@inject ISongDatabase db;

<PageTitle>Backstage</PageTitle>

<div id="dashboard">
	<div id="song-queue">
		<ol id="ol-song-queue">
			@foreach (var item in queuedSongs) {
				<li draggable="true" class="dropzone" id="li-@item.Song.Slug"
					data-song-slug="@item.Song.Slug">
					<a class="mark-song-as-played-link" @onclick="async () => await Played(item.Song.Slug)">PLAYED</a>
					@item.Song.Name
					<ul>
						@foreach (var player in item.Players) {
							<li>
								@player.Key.Name
								<em>
									@String.Join(", ", player.Value.Select(i => i.GetDisplayName()).ToArray())
								</em>
							</li>
						}
					</ul>
				</li>
			}
		</ol>
	</div>
	<div id="starred-songs">
		<WhatsHot NoOfSongs="@NoOfSongs" ShowHeaders="false" />
	</div>
</div>

<script>
	let dragged;
	let id;
	let index;

	HTMLCollection.prototype.indexOf = Array.prototype.indexOf;

	document.addEventListener("dragstart", ({ target }) => {
		dragged = target;
		id = target.id;
		index = target.parentNode.children.indexOf(target);
	});

	document.addEventListener("dragenter", ({ target }) => {
		if (target.classList.contains("dropzone")) target.classList.add("drop-target");
		event.preventDefault();
	});

	document.addEventListener("dragleave", ({ target }) => {
		if (target.classList.contains("dropzone")) target.classList.remove("drop-target");
		event.preventDefault();
	});

	document.addEventListener("dragover", _ => event.preventDefault());

	document.addEventListener("drop", async ({ target }) => {
		if (target.classList.contains("dropzone") && target.id !== id) {
			target.classList.remove("drop-target");
			dragged.remove(dragged);
			const indexDrop = target.parentNode.children.indexOf(target);
			let offset = 0;
			if (index > indexDrop) {
				target.before(dragged);
			} else {
				offset = 1;
				target.after(dragged);
			}
			const data = {
				song: dragged.getAttribute("data-song-slug"),
				position: indexDrop + offset
			};

			console.log(data);
			console.log(index, indexDrop);
			const response = await fetch('/backstage/move', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(data)
			});
			location.reload();
		}
	});
</script>

@code {
	[Parameter]
	public int? NoOfSongs { get; set; }

	private List<(Song Song, Dictionary<User, Instrument[]> Players)> queuedSongs = new();

	protected override void OnInitialized()
	{
		queuedSongs = db.GetQueuedSongs();
		if (NoOfSongs is not null) {
			queuedSongs = queuedSongs
			.Take((int)NoOfSongs)
			.ToList();
		}
	}

	private async Task Played(string slug)
	{
		await BackstageEndpoints.Status(slug, true, db);
		OnInitialized();
	}

}
