@page "/backstage"
@layout BackstageLayout
@inject ISongDatabase db;
@inject IJSRuntime JsRuntime

<PageTitle>Backstage</PageTitle>

<div id="dashboard">
	<div id="song-queue">
		<ol id="ol-song-queue" @ondragover:preventDefault @ondrop="() => Drop()">
			@{int i = 0;}
			@foreach (var item in queuedSongs) {
				<li draggable="true"
				class="@GenerateSongClass(item.Song.Slug, i)"
				style="@GenerateSongStyle(i)"
				@ondragenter:preventDefault
				@ondragleave:preventDefault
				@ondragover:preventDefault
				@ondragstart="() => DragStart(item.Song.Slug)"
				@ondragenter="() => DragEnter(item.Song.Slug)"
				@ondragleave="() => DragLeave()"
				@ondragover= "() => DragOver()"
				@ondragend="() => DragEnd()"
				@ondrop="async () => await Drop()">
					<a id="mark-song-as-played-link"
					@onclick="async () => await Played(item.Song.Slug)">PLAYED</a>
					@item.Song.Name
					<ul class="drop">
						@foreach (var player in item.Players) {
							<li>
								@player.Key.Name
								<em>@String.Join(", ", player.Value.Select(i => i.GetDisplayName()).ToArray())</em>
							</li>
						}
					</ul>
				</li>
				i++;
			}
		</ol>
	</div>
	<div id="starred-songs">
		<WhatsHot NoOfSongs="@NoOfSongs" ShowHeaders="false" />
	</div>
</div>

@code {
	[Parameter]
	public int? NoOfSongs { get; set; }

	private List<(Song Song, Dictionary<User, Instrument[]> Players)> queuedSongs = new();

	private string playedId = "";
	private string dragId = "";
	private string dropTarget = "";

	private int moveFromPos = int.MaxValue;
	private int moveToPos = int.MaxValue;
	private bool moveIsInProcess => moveFromPos != int.MaxValue;

	private bool dropIsProcessing = false;

	protected override void OnInitialized()
	{
		ReloadQueue();
	}

	private void ReloadQueue()
	{
		queuedSongs = db.GetQueuedSongs();
		if (NoOfSongs is not null) {
			queuedSongs = queuedSongs
			.Take((int)NoOfSongs)
			.ToList();
		}
	}

	private async Task Played(string slug)
	{
		var song = db.FindSong(slug);
		if (song == default) return;
		playedId = slug;
		song.PlayedAt = DateTime.UtcNow;
		StateHasChanged();
		await Task.Delay(500);
		db.RemoveSongFromQueue(song);
		ReloadQueue();
		playedId = "";
	}

	private void DragStart(string slug) => dragId = slug;
	private void DragEnter(string slug)
	{
		if (String.IsNullOrEmpty(slug) || dropTarget == slug) {
			return;
		}
		dropTarget = slug;
	}

	private void DragLeave() { }
	private void DragOver() { }

	private void DragEnd()
	{
		dragId = "";
		dropTarget = "";
	}

	private async Task Drop()
	{
		if (String.IsNullOrWhiteSpace(dropTarget) || dropIsProcessing) return;

		dropIsProcessing = true;

		var song = db.FindSong(dragId);
		if (song == default) return;

		var songPosition = queuedSongs.IndexOf(queuedSongs.FirstOrDefault(s => s.Song.Slug == dragId));
		var newPosition  = queuedSongs.IndexOf(queuedSongs.FirstOrDefault(s => s.Song.Slug == dropTarget));
		moveFromPos = songPosition;
		moveToPos = newPosition;
		if (songPosition <= newPosition) {
			newPosition--;
		}

		await Task.Delay(700);

		db.MoveSongToPosition(song, newPosition);

		moveFromPos = int.MaxValue;
		moveToPos = int.MaxValue;
		dragId = "";
		dropTarget = "";
		dropIsProcessing = false;

		ReloadQueue();
	}

	private string? GenerateSongClass(string slug, int position)
	{
		string? hide = slug == playedId ? "hide shrink-height" : null;
		string? target = slug == dropTarget ? " drop-target" : null;
		string? moveMe = null;
		string? moveTo = null;

		if (moveIsInProcess) {
			moveMe = (position == moveFromPos) ? " moveme" : null;
			moveTo = (position == moveToPos) ? " moveto" : null;
		}
		if (hide is null && target is null && moveTo is null && moveMe is null) return null;
		return $"{hide}{target}{moveMe}{moveTo}".Trim();
	}

	private string? GenerateSongStyle(int position)
	{
		if (moveIsInProcess is false || position != moveFromPos) {
			return null;
		}

		int directionOffset = -1;
		int newPosition = moveToPos;
		if (moveFromPos <= moveToPos) {
			newPosition--;
			directionOffset = 1;
		}

		int movePlaces = directionOffset + newPosition - moveFromPos;

		return $"--move-places: {movePlaces};";
	}
}
