@model SongSelection
@{
	ViewData["Title"] = Model.Song.Name;
	ViewData["MainCssClass"] = "song-page";
}
<song-star selection="@Model" />
<h1>@Model.Song.Title</h1>
<h2>@Model.Song.Artist</h2>
@if (Model.Song.Played) {
	<div class="big-emoji">😕</div>
	<h1>Sorry!</h1>
	<p>We already played this one tonight!</p>
} else {
	<p>Want to sing or play this one?</p>
	<form asp-action="Song" method="post">
		<input type="hidden" name="slug" value="@Model.Song.Slug" />
		@foreach (var i in Model.InstrumentOptions) {
			<label for="input-@i.Value">
				<input type="checkbox" name="instruments" value="@i.Value"
					   id="input-@i.Value"
				@(i.Selected ? "checked='checked'" : "") />
				@i.Text
			</label>
			<br />
		}
		<input type="text" name="name" placeholder="Your name" value="@Model.User.Name" />
		<input type="submit" value="Let's Rock!" />
	</form>
}
